<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cyber Cars</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <%- include('partials/navbar', {
        nav: {
            addCar: '/admin/car',
            addMnfctr: '/admin/manufacturer',
            cars: '/admin/car/update',
            manufacturers: '/admin/manufacturer/update',
            search: '/admin/search',
            users: '/admin/customerDetails',
            messages: '/admin/message',
            status: '/admin/carstatus',
            logout: '/admin/logout'
        },
        active: 'search'
    }) %>
    <div class="container">
        <h2>Search</h2>
        <form action="/admin/search" method="POST">
                <label for="searchType"></label>
                <select id="searchType" name="searchType" onChange="selectChanged()">
                    <option name="searchType1" value="model">Model</option>
                    <option value="manufacturer">Manufacturer</option>
                    <option value="price">Price</option>
                </select>
            
            <div id="searchBox">
                <div class="label">
                    <label for="search">Search</label>
                </div>
                <input type="text" id="search" name="search">
            </div>
            
            <div class="hidden" id="fromDiv">
                <div class="label">
                    <label for="search">From</label>
                </div>
                <input type="text" id="from" name="from">
            </div>
            <div class="hidden" id="toDiv">
                <div class="label">
                    <label for="search">To</label>
                </div>
                <input type="text" id="to" name="to">
            </div>
            <div>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <script>
        function selectChanged() {
            var selectElement = document.getElementById("searchType");
            var selectValue = selectElement.value;
            if (selectValue == "price") {
                document.getElementById("searchBox").style.display = "none";
                document.getElementById("fromDiv").style.display = "block";
                document.getElementById("toDiv").style.display = "block"; 
            } else {
                document.getElementById("searchBox").style.display = "block";
                document.getElementById("fromDiv").style.display = "none";
                document.getElementById("toDiv").style.display = "none";
            }
        }
    </script>
</body>
</html>