<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cyber Cars</title>
</head>
<body>
    <%- include('partials/navbar', {
        nav: {
            home: '/',
            cars: '/car',
            manufacturers: '/manufacturer',
            login: '/login',
            register: '/register',
            search: '/search',
            ask: '/message'
        },
        active: 'manufacturers'
    }) %>
    <div class="container">
            <% for (var i =0; i < data.length; i++ ) { %>
                <div class="manufacturer">
                    <div class="mName"><%= data[i].name %></div>
                    <div class="mCountry"><%= data[i].country %></div>
                </div>
            <% } %>
    </div>
</body>
</html>