@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html, body {
    background: white;
    margin: 0;
    padding: 0;
    background: #ffd300;
    font-family: 'Russo One', Helvetica, sans-serif;
}
.nav {
    width: 80%;
    margin: auto;
    padding: 10px;
    background: #1f1f1f;
    color: #ffd300;
    text-transform: uppercase;
    z-index: 1;
}
.logo {
    font-family: 'Russo One';
    text-align: center;
    font-size: 2em;

}
.nav ul {
    font-family: 'Russo One';
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nav ul::after {
    content: "";
    clear: both;
    display: block;
}

.nav ul li {
    float: left;
    width: 18%;
    padding: 1%;
    text-align: center;
}

.nav ul li a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffd300;
}
.nav ul li a:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: #1f1f1f;
    background: #ffd300;
}

.active {
    background: white !important;
    color: #1f1f1f !important;
}

.container {
    position: relative;
    width: 80%;
    background: #1f1f1f;
    color: white;
    margin: 0px auto;
    padding: 10px;
    min-height: 1000px;
}
.container::after {
    content:"";
    display: block;
    clear: both;
}

form div {
    width: 80%;
    margin: auto;
    color: #ffd300;
}

form div .label {
    font-family: 'Russo One', Helvetica, sans-serif;
    text-align: left;
    margin: 1em 0px;
}

form div input {
    width: 100%;
    border: none;
    font-family: 'Russo One', Helvetica, sans-serif;
    background: #ffd300;
    font-size: 1.2em;
    border-bottom: 2px solid #ffd300;
    height: 30px;
    margin: 1em 0px;
    padding: 0;
    display: block;
}

form div button {
    color: #ffd300;
    font-size: 1.2em;
    font-family: 'Russo One', Helvetica, sans-serif;
    display: block;
    background: none;
    border: none;
    width: 100%;
    padding: .5em 0px;
    margin: 1em 0px;
    border: 2px solid #ffd300;
    text-transform: uppercase;
}

h2{
    text-align: center;
    margin: 1em;
}
form div button:hover {
    background: #ffd300;
    color: #1f1f1f;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    font-family: Arial;
    width: 100%;
    font-size: large;
}
td {
    text-align: left;
    vertical-align: middle;
    padding: 15px;
}
td a {
    text-decoration: none;
    color: #ffd300;
    margin-left: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Russo One';
}
td a:hover {
    color: #1f1f1f;
    background: #ffd300;
}
th {
    font-family: 'Russo One';
    color: #ffd300;
    letter-spacing: 1px;
    text-align: left;
    padding: 15px;
}
.carContainer {
    margin: 0;
    padding: 0;
}

.car {
    width: 23%;
    height: 300px;
    background: white;
    color: black;
    position: relative;
    float: left;
    margin: .5%;
    padding: .5%;
}

.car:hover {
    background: #3f3f3f;
    color: #ffd300;
}

.carName {
    margin-top: 10px;
}
.carImage img {
    width: 100%;
    height: 220px;
}

.carImageCover img {
    width: 100%;
}
.carPrice {
    position: absolute;
    right: 0px;
    top: -5px;
    background: #ffd300;
    color: #1f1f1f;
    font-size: 1.2em;
}
.carPrice::after {
    content: "$ ";
}

.carContainer::after {
    content: "";
    clear: both;
    display: block;
}

.mContainer {
    margin: 0;
    padding: 0;
}

.manufacturer {
    width: 23%;
    height: 100px;
    background: white;
    color: black;
    position: relative;
    float: left;
    margin: .5%;
    padding: .5%;
}

.manufacturer:hover {
    background: #3f3f3f;
    color: #ffd300;
}

.mName {
    margin-top: 30px;
}

.carDetailsContainer {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    font-size: 1.5em;
}

.specTable {
    border-collapse: collapse;
}

.specTable th, .specTable td {
    border: 2px solid white;
}

select {
    width: 80%;
    margin: 0px 10%;
    font-size: 1.2em;
}
.userBtn {
    display: block;
    background:#ffd300;
    color: #1f1f1f;
    text-decoration: none;
    margin: 1em 0px;
    padding: 1em 0px;
}

.userBtn:hover {
    background: #1f1f1f;
    color: #ffd300;
    border-left: 3px solid #ffd300;
}
